# 查找列表中频率最高的值

In [1]:
a = [1, 2, 3, 1, 2, 3, 2, 2, 4, 5, 1]
print(max(set(a), key = a.count))

2

In [2]:
from collections import Counter
cnt = Counter(a)
print(cnt.most_common(1))

[(2, 4)]

In [3]:
for (k, c) in cnt.iteritems():
    print k, c

1 3
2 4
3 2
4 1
5 1

# 建立m*n维的list数组

In [4]:
m, n = 2, 3
[[0] * n for _ in range(m)]

[[0, 0, 0], [0, 0, 0]]

# n开m次根号取整

In [5]:
n, m = 81, 4
print int(n**m**-1)

3

# 执行hql脚本

In [6]:
path = 'hdfs://data/test/'
date = '20180808'
sql = """
INSERT OVERWRITE DIRECTORY '{hdfs_path}'
row format delimited
fields terminated by '\\t'
SELECT
    id
FROM
    aweme_i18n_dump.ies_item_dict
WHERE
    date = '{date}'
"""

sql_para = {'hdfs_path' : path,
       'date' : date,
      }
sql = sql.format(**sql_para)
print sql

INSERT OVERWRITE DIRECTORY 'hdfs://data/test/'
row format delimited
fields terminated by '\t'
SELECT
    id
FROM
    aweme_i18n_dump.ies_item_dict
WHERE
    date = '20180808'

# list数据类型转换

In [7]:
a = [1, 2, 3]
b = map(str, a)
c = map(float, b)
print 'a: %s' % a
print 'b: %s' % b
print 'c: %s' % c

a: [1, 2, 3]
b: ['1', '2', '3']
c: [1.0, 2.0, 3.0]